.galleryContent{
	display: none;
}

#gallery-container{
	margin-top: 20px;
position: relative;
width: 1037px;
height: 288px;
margin-left: 165px;
}

.gallery-items{
	width: 963px;
position: relative;
margin-top: 0px;
margin-left: 20px;
}

.hide-item{
	display:none;
}

.mini-image{
	background-color:#EEE;width:149px;height:58px; margin: 0 15px 0 0 !important;
}

.mini-image:hover,.mini-image-active{
	background-color:#DDD;width:149px;height:58px;
}

.mini-gallery-arrow-l{
	position: absolute;
	top: 0px;
	width: 29px;
	height: 58px;
	left: 37px;
}

.mini-gallery-arrow-r{
	position: absolute;
	top: 0px;
	width: 29px;
	height: 58px;
	left: 900px;
}

.gallery-arrow-l{
	position: absolute;
top: 215px;
width: 29px;
height: 58px;
left: 2px;
}

.gallery-arrow-r{
	position: absolute;
top: 215px;
width: 29px;
height: 58px;
left: 1000px;
}
}

div.gallery-items {width: 963px; position: absolute; top: 140px; left: 160px;}

.gallery-items h2 {font: 30px/30px BentonSansBold; color: #782170;}

.gallery-items .full-recipe {background: #ededed; width: 923px; height: 300px; margin: 9px 18px;}

.gallery-items .full-recipe ul {width: 400px; float: left; margin: 27px 0 18px 55px;}
.gallery-items .full-recipe ul li {font: 19px/21px BentonSans; color: #818181;}
.gallery-items .full-recipe p {font: 19px/21px BentonSans; color: #818181; margin: 0 30px;}

.gallery-items .para-one {font: 23px/23px BentonSansBold; color: #782170; text-align: left; width: 750px; margin: 21px 0 6px 0;}
.gallery-items .para-two {font: 14px/14px TradeGothic; color: #818181; text-align: left; width: 750px;}


/* SMALL BUSINESS SATURDAYS */

.sbs-darkblue {color: #172a75;}
.sbs-blue {color: #1c85c8;}
.bentonbold {font-family: BentonSansBold;}

#sbs-main {width: 947px; height: 315px; background: url(../images/sbs/sbs-largeimage.jpg) no-repeat; margin: 6px 0 0 0;}

#sbs-main .callout-1 {font: 24px/33px BentonSans; color: #4d5456; padding: 30px 30px 0 354px;}
#sbs-main .callout-2 {font: 24px/33px BentonSans; color: #4d5456; padding: 15px 30px 30px 354px;}

#sbs-text-1 {font: 50px/50px TradeGothicBold; text-align: center; margin: 21px 0 0 0; letter-spacing: 3px;}
#sbs-text-1 span {font: 50px/50px TradeGothicBold; letter-spacing: 3px;}
#sbs-text-2 {font: 24px/27px BentonSansMedium; color: #8f8f8f; text-align: center;}
#sbs-text-3 {font: 16px/19px TradeGothic; color: #8f8f8f; text-align: center;}

#getupdates-image {width: 323px; height: 484px; float: left; margin: 21px 0 0 0;}
#getupdates-main {width: 624px; height: 485px; background: url(../images/sbs/getupdates-back.gif) no-repeat top right; margin: 21px 0 0 0; float: left;}

#getupdates-main .jointheconversation {font: 44px/44px TradeGothicBold; color: #172a75; display: block; text-align: center; margin: 30px 0 0 0;}
#getupdates-main .callout-1 {font: 21px/30px BentonSans; color: #4d5456; margin: 24px 0 0 24px; padding: 21px 0 0 111px; width: 571px; height: 111px; background: url(../images/sbs/getupdates-twitterback.png) no-repeat top left;}
#getupdates-main .callout-2 {font: 21px/30px BentonSans; color: #4d5456; margin: 15px 0 0 24px; padding: 21px 0 0 111px; width: 571px; height: 111px; background: url(../images/sbs/getupdates-facebookback.png) no-repeat top left;}

#sbs-newsbottom {margin: 300px 0 0 178px; text-align: center;}
