@charset "utf-8";

* {

	padding: 0;

	margin: 0;

}

* {

	font-family: BentonSans;

	margin : 0px 0 0 0px;

}



@font-face

{

font-family: BentonSansLight;

src: url('type/BentonSans-Light.otf') format('truetype');

}



@font-face

{

font-family: BentonSans;

src: url('type/BentonSans-Regular.otf') format('truetype');

}



@font-face

{

font-family: BentonSansMedium;

src: url('type/BentonSans-Medium.otf') format('truetype');

}



@font-face

{

font-family: BentonSansBold;

src: url('type/BentonSans-Bold.otf') format('truetype');

}



@font-face

{

font-family: TradeGothic;

src: url('type/TradeGothicLTStd-Cn18.otf') format('truetype');

}



@font-face

{

font-family: TradeGothicBold;

src: url('type/TradeGothicLTStd-BdCn20.otf') format('truetype');

}



sup {font-family: BentonSans;}



body{

	margin: 0px;

}



a, a > *,div, div > img {

	text-decoration: none;

	-webkit-transition: background-color 0.0s ease, border 0.0s ease, color 0.0s ease, opacity 0.0s ease-in-out;

	   -moz-transition: background-color 0.0s ease, border 0.0s ease, color 0.0s ease, opacity 0.0s ease-in-out;

	    -ms-transition: background-color 0.0s ease, border 0.0s ease, color 0.0s ease, opacity 0.0s ease-in-out;

	     -o-transition: background-color 0.0s ease, border 0.0s ease, color 0.0s ease, opacity 0.0s ease-in-out;

	        transition: background-color 0.0s ease, border 0.0s ease, color 0.0s ease, opacity 0.0s ease-in-out;

}



img.bg {min-height: 100%; min-width: 720px; width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: -1;}


.navbar-fixed-top .container, .navbar-fixed-bottom .container {

width: 1240px;

}



/* New Nav */



.navbar ul {margin-left: -14px;}

.navbar ul li {float: left; margin: 12px 0 36px 0; list-style: none;}

.navbar ul li.center {margin: 12px 9px 36px 9px;}



a.navbtn {width: 345px; height: 46px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #000000; color: #fff; font: 20px/46px BentonSansBold; text-decoration: none; text-transform: uppercase; display: block; text-align:center;}

a.navbtn.active {background: #3ba3df; color: #fff;}

a.navbtn.hover {background: #3ba3df; color: #fff; height: 46px; width: 345px; line-height: 46px;}



a.navbtn.noHover {width: 345px; height: 46px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #000000; color: #fff; font: 20px/40px BentonSansBold; text-decoration: none; text-transform: uppercase; display: block; text-align:center;}



a.termsbtn {width: 176px; height: 33px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #474747; color: #fff; font: 15px/39px BentonSansBold; text-decoration: none; text-transform: uppercase; display: inline-block; text-align:center;}

a.termsbtn.hover {background: #3ba3df; color: #fff;}



a.backbtn {width: 116px; height: 32px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #000000; color: #fff; font: 18px/32px BentonSansBold; text-decoration: none; text-transform: uppercase; display: block; text-align:center;}

a.backbtn.hover{background: #3ba3df; width: 116px; height: 32px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;color: #fff; font: 18px/32px BentonSansBold; text-decoration: none; text-transform: uppercase; display: block; text-align:center;}



.hidden{

	display:none;

}

.left{
	float:left;
}

.right{
	float:right;
}



.container {

margin-right: auto;

margin-left: 0px;

z-index: 2;

}



.fullscrn{

	position: absolute;

	width: 1280px;

	height:720px;

	z-index: 1040;

}

.closescrn{

	position: absolute;

	bottom:30px;

	right:100px;

	z-index: 1050;

}

.debug{

	position: absolute;

	top:30px;

	right:100px;

	z-index: 1050;

	color:white;

	background-color:black;

}



.loadingVideo{

	position: absolute;

	font-family: BentonSans;

	text-align:center;

	top:300px;

	left:397px;

	z-index: 1050;

	color:white;

}



.videoModal:target {

opacity: 1;

pointer-events: auto;

}



.videoModal {

position: fixed;

top: 0;

left: 0;

right: 0;

bottom: 0;

background: rgba(0, 0, 0, 0.9);

z-index: 10000;

}



a#closeVideo:hover, #closeVideo.activeItem{

	color: yellow;

}

.videoModal > div {

width: 960px;

height: 540px

background: white;

position: relative;

margin: 1% auto;

padding: 30px 60px 30px 60px;

border-radius: 2px;

box-shadow: 0 3px 20px rgba(0,0,0,0.9);

background: black;

}



.videoModal > div span.controls{

 margin-left: 510px;

}



.videoModal > div span#presents{

 font-size: 15px;

 position: relative;

top: 3px;

	color: #FFFFFF;

	text-decoration:none;

	text-transform: uppercase;

	margin-left: 10px;

letter-spacing: 6px;

}



.videoModal > div a{

font-family: BentonSans;

	font-size: 18px;

	color: #FFFFFF;

	text-decoration:none;

	text-transform: uppercase;

}



#mediaspace {

	padding-top: 20px;

}

#checkBack{

	color: white;

	float:right;

	text-transform: uppercase;

	font-size: 16px;

}



#checkBack p{

	padding-top: 7px;

	font-family:BentonSans;

	font-size:16px;

	line-height: 24px;

}



#moreVideo{

	float:left;

}



#moreVideo p{

	color:white;

	font-family: BentonSans;

	font-size:16px;

	line-height: 24px;

}



#moreVideo h2, #moreVideo strong{

	color:white;

	font-family: BentonSansBold;

}





.span6 {

width: 560px;

}



.menubar-inner {

min-height: 40px;

padding-right: 20px;

padding-left: 20px;

-webkit-border-radius: 4px;

-moz-border-radius: 4px;

border-radius: 4px;
border-top: 1px solid rgba(0, 0, 0, 0.2);

-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);

}


.menubar-inner {

padding-right: 0;

padding-left: 120px;

-webkit-border-radius: 0;

-moz-border-radius: 0;

border-radius: 0;

}

.navbar-home .menubar-inner {-webkit-box-shadow: 0px 0px 0px;
box-shadow: 0px 0px 0px; border-top: 0px;}

.navbar{
	color:#ddd;
}


.videobar-inner {

min-height: 40px;

padding-right: 20px;

padding-left: 20px;

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #2B2B2B 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #2B2B2B 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #2B2B2B 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2B2B2B), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #2B2B2B 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #2B2B2B 0%, #000000 100%);

background-repeat: repeat-x;

}



.videbar-inner {

padding-right: 0;

padding-left: 120px;

-webkit-border-radius: 0;

-moz-border-radius: 0;

border-radius: 0;

}



.navbar .link {

display: block;

float: left;

padding: 8px 20px 12px;

margin-left: -20px;

font-size: 20px;

font-weight: 200;

line-height: 3;

color: #999;

}



@media (max-width: 1728px) {

	#wrapper {

		position: absolute;

		width: 1280px; height:690px; overflow:hidden;background-color: #ffffff;

		padding-top: 30px;

	}

}



#container{

	background:#ffffff;

	position: absolute; 

	top: 50px; 

	left: 128px; 

	overflow: hidden;

	border:1px dotted #ddd;

}



#header{

	background:#ffffff;

	position: absolute; 

}



#header-title{

	position: absolute; 

	height: 80px;

}



#header-title h1{

	margin-top: 22px;

	/*background-image: url('../images/headertext.png');

	background-repeat: no-repeat;*/

	font-family: BentonSans;

	font-size: 41px;

	color: #000000;

	font-weight: normal;

}

#header-title h1.header-home  {color: #1e99c6;}

#header-title h3{

	margin-top: 8px;
	
	margin-bottom: -8px;

	font-family: BentonSans;

	font-size: 20px;
	
	line-height: 23px;
	
	width: 810px;

	color: #ffffff;

	font-weight: normal;

}
#header-title h3.gray {color: #636363;}


#header-logo{

	position: absolute;

	height: 99px;
	right:10px;

}



#header-logo img{

	float: right;

	margin-right: 158px;

}



#content{

	background:#ffffff;

	position:absolute;

	top:80px;

}



.ugum {

    line-height: 0%;

    width: 0px;

    border-top: 76px solid rgb(241, 175, 1);

    border-left: 100px solid rgb(241, 175, 1);;

}





#wing img{

		position: absolute; 

		top: 115px;

		left:2px;

}

#main-area{
	position: absolute;
	top: 110px;
}

#main-copy{
	position: absolute;
	width: 500;
	left: 180px;
	top: 177px;

}



.legalcopy{

	width: 375px;

	position: absolute;

	top: 425px;

}



.legalcopy p{

	font-size: 12px;

	line-height: 12px;

	font-family: TradeGothic;

	color: #9f9f9f;

}



.benefit-title{

	padding-bottom:3px;

	width: 471px;

}



#membership h2{

	font-size: 32px;

}



.benefit-title h2{

	font-family: BentonSans;

	font-size: 27px;

	color: #006db9;

	font-weight: 600;

}







.benefit-description{

width: 472px;

}



.benefit-description h4{

	font-family: BentonSans;

	font-size: 22px;

	line-height: 28px;

	color:#555555;

	font-weight: normal;

}



.smallerdescription h4 {

font-size: 21px;	



}



#twitter_3-4 img {

margin-left: 7px;

}



#twitter_1-2 img{

margin-left: 7px;

}







.benton-bold {font-family: BentonSansBold;}





.blue-box {

	background: #0987a0 url('../images/wingback-plane.png') no-repeat;

	width: 422px;

	height: 206px;

	position: absolute;

	top: 200px;

	display: table;

	margin-left: -30px;

}



.blue-box .twitter-text {

	display: table-cell;

	vertical-align: middle;	

}



.blue-box .twitter-text p{

	font-family: BentonSans;

	font-size: 22px;

	line-height: 26px;

	color:#FFFFFF;

	font-weight: normal;

	margin-left: 30px;

	margin-right: 24px;

}



.red-box {

	background: #ca4d24 url('../images/wingback-plane.png') no-repeat;

	width: 422px;

	height: 206px;

	position: absolute;

	top: 200px;

	display: table;

	margin-left: -30px;

}



.red-box .twitter-text {

	display: table-cell;

	vertical-align: middle;	

}



.red-box .twitter-text p{

	font-family: BentonSans;

	font-size: 22px;

	line-height: 26px;

	color:#FFFFFF;

	font-weight: normal;

	margin-left: 30px;

	margin-right: 24px;

}



.teal-box {

	background: #1da699 url('../images/wingback-plane.png') no-repeat;

	width: 422px;

	height: 206px;

	position: absolute;

	top: 200px;

	display: table;

	margin-left: -30px;

}



.teal-box .twitter-text {

	display: table-cell;

	vertical-align: middle;	

}



.teal-box .twitter-text p{

	font-family: BentonSans;

	font-size: 22px;

	line-height: 26px;

	color:#FFFFFF;

	font-weight: normal;

	margin-left: 30px;

	margin-right: 24px;

}



.gold-box {

	background: #d99d00 url('../images/wingback-plane.png') no-repeat;

	width: 422px;

	height: 206px;

	position: absolute;

	top: 200px;

	display: table;

	margin-left: -30px;

}



.gold-box .twitter-text {

	display: table-cell;

	vertical-align: middle;	

}



.gold-box .twitter-text p{

	font-family: BentonSans;

	font-size: 22px;

	line-height: 26px;

	color:#FFFFFF;

	font-weight: normal;

	margin-left: 30px;

	margin-right: 24px;

}



.purple-box {

	background: #782170 url('../images/wingback-plane.png') no-repeat;

	width: 422px;

	height: 206px;
	


	position: absolute;

	top: 200px;

	display: table;

	margin-left: -30px;

}



.purple-box .twitter-text {

	display: table-cell;

	vertical-align: middle;	

}



.purple-box .twitter-text p{

	font-family: BentonSans;

	font-size: 22px;

	line-height: 26px;

	color:#FFFFFF;

	font-weight: normal;

	margin-left: 30px;

	margin-right: 24px;

}





.blue-box-card {

	background-color:#009ddc;

	width:485px;

	height: 188px;

	position: absolute;

	top: 55px;

	display: table;

	margin-left: -30px;

}



span{

	font-family: BentonSans;

	letter-spacing: normal;

	font-weight: normal;

}



div.month{

	font-family: BentonSans;

	font-size: 24px;

	line-height: 30px;

	color:#FFFFFF;

	font-weight: 500;

}



#twitter_3-2 p{

font-size: 22px;

line-height: auto;

}



#twitter_4-1 p, #twitter_4-3 p {

font-size: 22px;

line-height: auto;

}



.twitter-text img{

	margin-left: 7px;	

}

.twitter-text p {margin-top: 9px;}


#main-mosaic{

	top: 127px;
	float: right;
	position: absolute;
	width: 525px;
	right: 109px;
	margin-left: 30px;

}



#footer{

	position: absolute; 

	top:561px; 

	left: 128px;

	height: 88px; 

	width: 1024px;

	background-color: #ffffff;

	box-shadow: 1px 1px 8px #000000;

	text-align: center;

}



#footer img{

	padding-right: 6px;

}



#footer a{

	display:inline-block;

}



#footer-text{

	text-align: left;

	margin-left: 129px;

	margin-top: 6px;

}





/* Image Mosaic Images */

.mosaicImage{

	opacity: .90;

	background: #000000;

	text-indent: -9999px;

}



.mosaicImagehover{

	opacity: 1;

}



div.mosaicImage:hover{

	z-index: 33;

}



.disabledmosaicImage{

	/*background: #ddd;*/

		opacity: .90;

}



.disabledmosaicImage:hover{

display: none;

}



.activeImage{

	

	opacity: 1;

}



.fullOpacity{

	

	opacity: 1;

}



#image_1-1{

	position: absolute;left:18px;top:10px;width:203px;height:79px;

	background-image: url('../images/logo-ch.jpg');

	background-repeat: no-repeat;
}





#image_1-2{

	position: absolute;left:231px;top:37px;width:186px;height:120px;

	background-image: url('../images/fashionweek-1-2.jpg');

	background-repeat: no-repeat;

}

#image_1-2.activeImage{

	background-image: url('../images/fashionweek-1-2_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_1-2:hover{

	z-index: 31;

}



#image_2-1{

	position: absolute;left:20px;top:100px;width:201px;height:143px;

	background-image: url('../images/fashionweek-2-1.jpg');

	background-repeat: no-repeat;

}



#image_2-1.activeImage{

	background-image: url('../images/fashionweek-2-1_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_2-1:hover{

	z-index: 31;

}



@-moz-keyframes	blinkButton {

from {opacity: 1}

to {opacity: 0.7}

}



@-webkit-keyframes blinkButton{

from {opacity: 1}

to {opacity: 0.7}

}



/*#image_2-1.activeImage {

animation: blinkButton 0.7s;

-moz-animation: blinkButton 0.7s;

-webkit-animation: blinkButton 0.7s;

-webkit-animation-iteration-count: infinite;

-webkit-animation-direction: alternate;	

}*/





#image_2-3{

	position: absolute;left:411px;top:82px;width:93px;height:67px;

	background-repeat: no-repeat;

}





#image_3-2{

	position: absolute;left:231px;top:166px;width:115px;height:77px;

	background-image: url('../images/fashionweek-3-2.jpg');

	background-repeat: no-repeat;

}

#image_3-2.activeImage{

	background-image: url('../images/fashionweek-3-2_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_3-2:hover{

	z-index: 31;

}



#image_3-4{

	position: absolute;left:357px;top:166px;width:113px;height:143px;

	background-image: url('../images/fashionweek-3-4.jpg');

	background-repeat: no-repeat;

}

#image_3-4.activeImage{

	background-image: url('../images/fashionweek-3-4_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_3-4:hover{

	z-index: 31;

}



#image_4-1{

	position: absolute;left:71px;top:251px;width:188px;height:117px;

	background-image: url('../images/fashionweek-4-1.jpg');

	background-repeat: no-repeat;

}

#image_4-1.activeImage{

	background-image: url('../images/fashionweek-4-1_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_4-1:hover{

	z-index: 31;

}



#image_disabled{

	position: absolute;left:269px;top:251px;width:79px;height:58px;

	background-image: url('../images/fashionweek-4-2.jpg');

	background-repeat: no-repeat;

}





#image_5-1{

	position: absolute;left:36px;top:352px;width:136px;height:97px;

	background-repeat: no-repeat;

}

#image_5-1.activeImage{

	left:26px;

	top:345px;

	width:155px;

	height:111px;

	background-repeat: no-repeat;

	z-index: 33;

}



#image_5-1:hover{

	z-index: 31;

}



#image_6-2{

	display: none;

	position: absolute;left:119px;top:378px;width:143px;height:101px;

	background-image: url('../images/fashionweek-6-2.jpg');

	background-repeat: no-repeat;

}

#image_6-2.activeImage{

	background-image: url('../images/fashionweek-6-2_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_6-2:hover{

	z-index: 31;

}



#image_4-3{

	position: absolute;left:271px;top:318px;width:117px;height:86px;

	background-image: url('../images/fashionweek-4-3.jpg');

	background-repeat: no-repeat;

}

#image_4-3.activeImage{

	background-image: url('../images/fashionweek-4-3_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_4-3:hover{

	z-index: 31;

}



#image_4-4{

	position: absolute;left:398px;top:318px;width:110px;height:86px;

	background-image: url('../images/fashionweek-4-4.jpg');

	background-repeat: no-repeat;

}

#image_4-4.activeImage{

	background-image: url('../images/fashionweek-4-4_active.jpg');

	background-repeat: no-repeat;

	z-index: 33;

}



#image_4-4:hover{

	z-index: 31;

}

	

#image_6-3 a{

	display: none;

	position: absolute;left:282px;top:424px;

	/*background-image: url('../images/termsandconditions.png');

	background-repeat: no-repeat;*/

	font-family: TradeGothic;

	font-size: 19px;

	text-transform: uppercase;

	color: #fff;

}





	#image_6-3.activeImage a	{background: ##3ba3df; color: #fff;}





.imgClass{

 width: 102px;

 height: 102px;

 vertical-align: top;

}



/* Terms and Conditions */

/*17px left more*/



#content-title{

	position: absolute;

	left:168px; 

	top:164px;

	height:38px;

}



#content-title h3{

	font-family: BentonSans;

	font-size: 29px;

	color: #006db9;

	font-weight: 600;

	margin-left: 135px;

	line-height: 38px;

}





.arrows {

	position: absolute;

	top: 386px;

	width: 30px;

	height: 60px;

}



#arrowleft {


	background-repeat: no-repeat;

	left: 85px;



}



#arrowleft:hover{


		background-repeat: no-repeat;

}



#arrowright {


	background-repeat: no-repeat;

	left: 1167px;

}



#arrowright:hover{


	background-repeat: no-repeat;

}



sup {top: -0.5em !important;}



#terms-new{

	width: 1018px;

	height: 390px; /* 404px */

	position: absolute;

 	top: 184px;

	left: 151px; 

	overflow: hidden;

	-moz-column-count:3; /* Firefox */

	-webkit-column-count:3; /* Safari and Chrome */

	column-count:3;





}



.tgbold {font: 16px/19px TradeGothicBold; color: #555;}



#terms-new p{

	font-family: TradeGothic;

	font-size: 14px;

	line-height: 18px;

	width: 321px;

}





#fullPlayer{

	position: absolute;

	width: 1280px;

	height:720px;

	z-index: 1020;

}



/*Find A Card*/



#featuredcards {
	position: absolute;
left: 100px;
top: 140px;
width: 1046px !important;}

#featuredcards h1 {font: 27px/30px BentonSansBold; color: #782170; margin: 0 0 3px 0;}

#featuredcards h2 {font: 22px/25px BentonSans; color: #555; margin: 0 0 0 0;}

#featuredcards .card-footnote {font: 19px/24px TradeGothic; margin: 9px 0 0 36px;}



#featuredcards .card-uno {width: 510px; float: left;}

#featuredcards .card-dos {width: 450px; float: right; margin: 0 75px 0 0;}



.card-image {float:left;margin: -15px 25px 12px -34px;}

#featuredcards .blue {color: #002663; font-family: BentonSansMedium;}

#featuredcards .bold {font-family: BentonSansBold;}



#featuredcards p {font: 21px/24px BentonSans; color: #555; margin: 3px 0 0 0;}

#featuredcards ul {margin: 18px 0 0 57px;}

#featuredcards li {font: 21px/24px BentonSans; color: #555; margin: 3px 0 0 0;}



#featuredcards .card-footers {margin: 12px 0 0 24px;}

#featuredcards .card-footer-one {background: url('../images/featuredcards-purplebox.png') no-repeat; width: 970px; height: 75px;}

#featuredcards .card-footer-one p {padding: 14px 21px 0 96px; font: 21px/23px BentonSansMedium; color: #fff;}

#featuredcards .card-footer-two {font: 14px/17px TradeGothic; margin: 9px 0 0 78px; width: 650px; float: left;}



#wingsmall{

	position: absolute;

	top: 267px;

	left: 233px;

	background-image:url('../images/wingandblock.png');

	background-repeat: no-repeat;

	width: 380px;

	height: 193px;

}



.blue-box-card h2{

	font-family: BentonSansLight;

	font-size: 26px;

	color: #0080c3;

	font-weight: normal;

		margin-left: 98px;

		margin-top: -21px;

		margin-bottom: 0px;

}



.blue-box-card h3{

	position: absolute;

	margin-bottom: 0px;

	margin-top: 18px;

	margin-left: 98px;

	font-family: BentonSans;

	font-size: 21px;

	color: #003c79;

	font-weight: 600;

}



.blue-box-card h5{

	font-family: BentonSans;

	font-size: 36px;

	color: white;

	margin-left: 30px;

	margin-right: 24px;

	line-height: 42px;

	margin-bottom: 10px;

	margin-top: 22px;

}



.blue-box-card p{

font-family: BentonSans;

font-size: 26px;

line-height: 30px;

color: white;

font-weight: bold;

margin-top: 32px;

margin-left: 32px;

margin-right: 24px;

}



#featuredcard{

	position: absolute;

left: 766px;

top: 220px;

}



#card-copy{

	position: relative;

top: 235px;

margin-left: 0px;

width: 550px;

height: 150px;

color: #555;

}



span.darkblue{

	color: #003c79; 

	font-weight: bold;

	font-size: 16px;

}



span.lightblue{

	color: #0080c3; 

	font-weight: bold;

	font-size: 16px;

}



#card-copy h2{

	font-family: BentonSans;

font-weight: normal;

font-size: 21px;

}



#card-copy h3{

	font-family: BentonSans;

	text-align:center;

	font-size: 16px;

	font-weight: normal;

	margin-top: 20px;		

	margin-bottom: -27px;

}





#termsconditions{

text-align: right;

margin: -15px 162px 0 0;	

}



#termsconditions a, #termsconditions-news a{



	/*background-image: url('../images/termsandconditions.png');

	background-repeat: no-repeat;*/

	font-family: TradeGothic;

	font-size: 19px;

	text-transform: uppercase;

}

.termsconditions{

text-align: right;

margin: -15px 162px 0 0;	

}



.termsconditions a, .termsconditions-news a{



	/*background-image: url('../images/termsandconditions.png');

	background-repeat: no-repeat;*/

	font-family: TradeGothic;

	font-size: 19px;

	text-transform: uppercase;

}







/*News & Offers*/



#newsoffers{

	position: absolute;

	left: 144px;

	width: 500px;

	height: 193px;

}



#newsoffers h2{

	font-family: BentonSansLight;

	font-size: 26px;

	color: #0080c3;

	font-weight: normal;

		margin-left: 98px;

		margin-bottom: 0px;

}



#newsoffers h3{

	position: absolute;

	margin-bottom: 0px;



	font-family: BentonSansMedium;

	font-size: 25px;

	color: #636363;

	font-weight: 600;

}



#newsoffers h5{

	font-family: BentonSans;

	font-size: 22px;

	color: #FFFFFF;

	margin-left: 98px;

	margin-right: 24px;

	line-height: 25px;

	margin-bottom: 10px;

	margin-top: 51px;

}



.arrows2 {

	position: absolute;

	top: 118px;

	width: 29px;

	height: 58px;

	left: 1014px;	

}



#news_arrowleft {

	background-image: url('../images/arrow-left.png');

	background-repeat: no-repeat;



}



#news_arrowleft:hover, #news_arrowleft.activeImage{

		background-image: url('../images/arrow-left_active.png');

		background-repeat: no-repeat;

}



#news_arrowright {

	background-image: url('../images/arrow-right.png');

	background-repeat: no-repeat;

}



#news_arrowright:hover, #news_arrowright.activeImage{

		background-image: url('../images/arrow-right_active.png');

		background-repeat: no-repeat;

}

#videos_arrowleft {

	background-image: url('../images/arrow-left.png');

	background-repeat: no-repeat;



}



#videos_arrowleft:hover, #videos_arrowleft.activeImage{

		background-image: url('../images/arrow-left_active.png');

		background-repeat: no-repeat;

}



#videos_arrowright {

	background-image: url('../images/arrow-right.png');

	background-repeat: no-repeat;

}



#videos_arrowright:hover, #videos_arrowright.activeImage{

		background-image: url('../images/arrow-right_active.png');

		background-repeat: no-repeat;

}



#showcase-container{

	width:1037px;

	height: 288px;

	position: absolute;

	top: 126px;

	left: 113px;

}



#showcase{

	width: 979px;

	height: 288px;

	margin-left: 30px;

	overflow: hidden;

}



span.headerText{

font-family: BentonSansMedium;

	font-size:25px;

	letter-spacing: normal;

	font-weight: normal;

}



.panelHeader {

	width: 75px;

	height: 288px;

	display: block;

	float: left;

	font-family: BentonSansMedium;

	text-transform: uppercase;

	font-size: 25px;

	letter-spacing: normal;

	font-weight: normal;

}

.panelHover{

	font-family: BentonSansBold !important;

	font-size:25px;

	letter-spacing: normal;

	font-weight: normal;

}



#panel1{
width: 75px;
}

#panel2{
width: 75px;
}


#panel3{	
width: 75px;
}

#panel4{	

}

#panel5{
width: 67px;
}

.video-panel-text {
	color: #FFFFFF;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	top: 144px;
	right: 94px;
	position: relative;
	width: 300px;
	height: 60px;
	font-family: BentonSansMedium;
	font-size: 25px;
	letter-spacing: normal;
	font-weight: normal;
}

.video-panel-icon {
	float: left;
}


.news-panel-text{

color: #FFFFFF;

transform:rotate(-90deg);

-ms-transform:rotate(-90deg); /* IE 9 */

-moz-transform:rotate(-90deg); /* Firefox */

-webkit-transform:rotate(-90deg); /* Safari and Chrome */

-o-transform:rotate(-90deg); /* Opera */

top: 85px;

right: 80px;

position: relative;

width: 238px;

height:60px;

font-family: BentonSansMedium;

	font-size:25px;

	letter-spacing: normal;

	font-weight: normal;

}



.month{

	padding: 5px;

	float: left;

	background-color: #ffffff;

	left: 15px;

top: 180px;

position: relative;

	text-align:center;

	display: table;

}



.month p {

	display: table-cell;

	vertical-align: middle;	

	font-size: 17px;

	color:#0079c2;

	font-family: BentonSansBold;

}



.showcaseimage{

	float: left;

}



.fix{

	clear:both;

}



#copy-left{

width: 360px;

}







#news-copy{

	position: relative;

	top:305px;

	left:210px;

	width: 977px;

	height: 150px;

	color: #003c79; 

}



#copy-left{

width: 360px;

}







#news-copy h2{

	font-family: BentonSans;

	font-weight: normal;

	font-size: 28px;

	margin-bottom: 4px;

}



#news-copy img{

margin-bottom: 21px;

}



span.darkblue2, span#moveleft{

	color: #253b73;  

	font-family: BentonSansBold;

	font-size: 31px;

	margin-left: 5px;

	line-height: 0px;

}



span#moveleft{

margin-left: 48px;

}



span.lightblue2{

	color: #0080c3; 

	font-weight: 900;

	font-size: 21px;

}



#copy-right{

	margin-left: 406px;

	margin-top: -110px;

	width: 517px;

}



#news-copy h3{

	font-family: BentonSans;

	font-size: 21px;

	font-weight: normal;

	margin-top: -10px;	

	line-height: 20px;

	color: #555555;

	width:425px;

	margin-bottom: 10px;

}



#copy-right img{

margin-bottom: 6px;

}



b {

	font-family: BentonSans;

}



#termsconditions-news{

text-align: right;

margin-right: 49px;

}



.recipes-main {width: 578px; height: 305px; float: left;}

.recipes-main h2 {font: 27px/30px BentonSansBold; color: #fff; padding: 18px 18px 15px 18px;}

.recipes-main p {font: 24px/33px BentonSans; color: #fff; padding: 0 18px 3px 18px;}


.galleryContent {background: #782170 url('../images/recipes-back.png') no-repeat top right;}


#recipe-footer {position: absolute; top: 485px; left: 261px; width: 900px;}

#recipe-footer .para-one {font: 22px/25px BentonSans; color: #818181;}

#recipe-footer .para-two {font: 12px/16px BentonSans; color: #818181; margin: 0 0 0 -75px;}



.sms-footer {margin-top: 52px;}

.sms-footer .para-one {font: 23px/23px BentonSansBold; color: #782170; text-align: left; width: 750px; margin: 21px 0 6px 0;}

.sms-footer .para-two {font: 14px/14px TradeGothic; color: #818181; text-align: left; width: 750px;}


#sync-footer {position: absolute; top: 252px; left: 0; padding-left: 30px; padding-top: 8px; width: 920px; background: #ffffff;}

#sync-footer .para-one {font: 24px/26px BentonSans; color: #818181;}

#sync-footer .para-two {font: 16px/17px TradeGothic; color: #818181; text-align: left; width: 750px;}

#sync-footer .syncoffersgreen {color: #19a699; font-family: BentonSansBold;}
#sync-footer .syncofferspurple {color: #782170; font-family: BentonSansBold;}

#home-toapply {font: 16px/33px BentonSansMedium; color: #ffffff; position: absolute; height: 33px; width: 815px; top: 573px; left: 219px; text-shadow: 0px 0px 5px #000000; -moz-text-shadow: 0px 0px 5px #000000;}
#home-toapply .termsconditions {margin: 0; text-shadow: 0px 0px 0px #000000; -moz-text-shadow: 0px 0px 0px #000000;}


.countdown-clock {background: url('/assets/Uploads/clock-back.png') no-repeat; width: 404px; height: 92px; margin: 0; padding: 0;}

.text-to-watch {background: #ebebeb; font: 27px/33px BentonSans; width: margin: 0; padding: 3px 0 0 0; text-align: center; width: 404px; height: 70px;}
.text-to-watch span.bentonbold {font: 27px/33px BentonSansBold;}
.max-messages {font: 17px/24px TradeGothic; color: #ffffff; text-shadow: 0px 0px 5px #000000; -moz-text-shadow: 0px 0px 5px #000000;}

/* - - - - - - - - SHOP SMALL - - - - - - - - */

#shopsmall-agnostic {margin: 135px 0 0 186px; width: 885px; height: 450px; position: relative;}
.ss-one {margin: 30px 0px 0px 27px; font: 18px/21px BentonSans;}
.ss-two {color: #127fc3; margin: 18px 0px 0px 27px;  font: 18px/21px BentonSansMedium;}
.ss-three {margin: 9px 0px 0px 17px;}

/* - - - - - - - - DESIGNER SPOTLIGHT - - - - - - - - */

.bazaar-footer {font: 17px/30px BentonSansMedium; color: #3ba3df;}
